<center>
<div class="panel panel-info" data-ng-controller="convertController" style="width:100%;max-width:500px;margin-top:50px;">
  <div class="panel-heading">
    <h3 class="panel-title">GraphQ Chart Renderer</h3>
  </div>
  <div class="panel-body">
    <div class="row" ng-show="error != ''">
      <div class="alert alert-danger" role="alert">{{error}}</div>
    </div>
    <form name="frm">
      <div class="form-group">
          <label class="text-left pull-left">URL</label>
          <input type="text" class="form-control" placeholder="http://www.google.com" ng-model="url" required="required" />
      </div>
      <div class="form-group">
          <label class="text-left pull-left">Duration (seconds)</label>
          <input type="number" class="form-control" placeholder="seconds" ng-model="duration" required="required" />
      </div>
      <button class="btn btn-success pull-right"  ng-click="startConvert()" ng-disabled="!frm.$valid">Render</button>
      <div class="clearfix"></div>
    </form>
    <hr />
    <div class="row" ng-show="!completed" style="height:200px;">
        <div class="loader">Loading...</div>
    </div>
    <div ng-show="completed && output != ''">
      <div class="row">
        <video width="320" height="240" controls ng-src="{{output}}">
        </video>
      </div>
      <div class="row">
        <a href="{{output}}" target="_blank" class="btn btn-success">Download</a>
      </div>
    </div>
  </div>
</div>
</center>