doctype html
//if IE 8
  html.ie8.no-js(lang='en')  
//if IE 9
  html.ie9.no-js(lang='en')
// [if !IE] <!
html(lang='en')
  // <![endif]
  // BEGIN HEAD
  head
    block title
      title Graphiq Chart Renderer

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='', name='description')
    meta(content='', name='author')

    // BEGIN GLOBAL MANDATORY STYLES
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css', rel='stylesheet', type='text/css')
    link(href='/bower_components/jquery-ui/themes/smoothness/jquery-ui.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/main.css', rel='stylesheet', type='text/css')
    // END THEME STYLES
    
  // END HEAD
  // BEGIN BODY
  body(ng-controller='appController')
    block content

    // BEGIN CORE PLUGINS
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/jquery-ui/jquery-ui.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-animate/angular-animate.min.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap.min.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/bower_components/angular-cookies/angular-cookies.min.js')
    script(src='/bower_components/angular-resource/angular-resource.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/bower_components/angular-sanitize/angular-sanitize.min.js')
    script(src='/bower_components/angular-ui-router/release/angular-ui-router.min.js')
    // END CORE PLUGINS

    // BEGIN LIBRARIES
    script(src='/bower_components/underscore/underscore-min.js')
    // END LIBRARIES

    // BEGIN APP LEVEL ANGULARJS SCRIPTS
    script(src='/js/app.js')
    script(src='/js/config.js')
    script(src='/js/constants.js')

    // Directives
    script(src='/js/directives/directives.js')
    // Services
    script(src='/js/services/utils.js')
    // APIs
    script(src='/js/apis/convert.js')

    //Application Controllers
    script(src='/pages/layout/layout.js')   
    script(src='/pages/convert/convert.js')

    script(src='/js/init.js')
  // END BODY
